#left {

    float: left;
    width: 50%;
    background-image: url("w2.jpg");
    height: 900px;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    background-size: cover;
}

#left h1 {
    top: 50%;
    position: absolute;
    color: #FD5D5D;
}

#right {
    width: 50%;
    float: right;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text],
input[type=password],
input[type=email],
button {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.img1 {
    width: 100%;
    height: 900px;
    position: relative;
}

* {
    overflow: hidden;
}

.two {
    position: absolute;
    bottom: 180px;
    left: 10px;
    color: #AAE3E2;
}

.pre {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
    position: absolute;
    bottom: 180px;
    right: 80px;
}

.nex {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
    position: absolute;
    bottom: 180px;
    right: 20px;
}

span {
    font-weight: lighter;
}

.form1 {
    align-items: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.submit {
    background-color: #FD5D5D;
}